.App {
    font-family: 'Segoe UI', sans-serif;
    
    .buttonRow, .cardRow {
        padding: 10px;
    }

    .title {
        text-align: center;
        font-family: monospace;
        font-weight: 300;
    }
}